---
import { getProjectLicenses } from "generate-license-file"
import DocsLayout from "../layouts/DocsLayout.astro";

const licenses = await getProjectLicenses("./package.json");

const getPackageUrl = (packageNameAndVersion: string) => {
  const indexOfLastAt = packageNameAndVersion.lastIndexOf("@");
  const packageName = packageNameAndVersion.substring(0, indexOfLastAt);
  const packageVersion = packageNameAndVersion.substring(indexOfLastAt + 1);

  return `https://www.npmjs.com/package/${packageName}/v/${packageVersion}`;
};
---

<DocsLayout>

  <h1>Third-party Content</h1>

  <h2>Sources</h2>

  <ul>
    <li>
      The 'wave' graphic for this website was generated using
      <a href="https://haikei.app" target="_blank">https://haikei.app</a>.
    </li>
    <li>
      The icons used throughout this website come from
      <a href="https://primer.style/design/foundations/icons" target="_blank">primer/octicons</a>.
    </li>
  </ul>

  <h2>Licenses</h2>

  <p>
    Below lists all third-party licenses used by license-cop and this website.
  </p>

  <p>
    This content was generated using the
    <a href="https://npmjs.com/package/generate-license-file" target="_blank">generate-license-file</a>
    npm package.
  </p>

  <ul class="licenses">
    {licenses.map((license, i) => (
      <li>
        <p>The following npm packages may be included in this project:</p>
        <ul class="packages">
          {license.dependencies.map((pkg) => (
            <li>
              <a href={getPackageUrl(pkg)} target="_blank">{pkg}</a>
            </li>
          ))}
        </ul>

        <p>These packages contains the following license and notice below:</p>

        <pre class="license-content">
          <code>
            {license.content.trimStart()}
          </code>
        </pre>

        {i !== licenses.length - 1 && <hr />}
      </li>
    ))}
  </ul>

</DocsLayout>

<style lang="scss">
  @use "../styles/vars" as *;

  ul.licenses {
    list-style-type: none;
    padding-left: 0;
  }

  ul.packages {
    list-style-type: initial;
  }

  .license-content {
    margin: 0;
  }

  hr {
    margin: 0 0 2rem 0;
    border-bottom: $darkPrimary 0.1rem solid;
  }
</style>
